{namespace Templates.Button}

/**
 * @param label
 */
{template .content}
  {$label}
{/template}

/**
 * @param? elementContent
 * @param? elementClasses
 * @param id
 */
{deltemplate Button variant="'element'"}
	<button id="{$id}" class="btn {$elementClasses ? $elementClasses : ''}" data-component>
		{$elementContent}
	</button>
{/deltemplate}
