{namespace Templates.Button}

/**
 * @param label
 */
{template .content}
  {$label}
{/template}

/**
 * @param? elementContent
 * @param? elementClasses
 * @param id
 */
{template .contentElement}
	<button id="{$id}" class="btn {$elementClasses ? $elementClasses : ''}" data-component>
		{if $elementContent}
			{$elementContent}
		{/if}
	</button>
{/template}
